.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Quicksand', sans-serif;
  
}

.logo{
  display:flex;
  padding-right:270px;
  padding-left:110px;
}
.App-link {
  color: #61dafb;
}

.Section-0 {
  height:5vh;
  width:100vw;
  background-color: rgb(141, 139, 139);
  display: flex;
  justify-content: space-between;
}

.Translate-word {
  height:3vh;
  width:50vw;
  display: flex;
  justify-content:center;
  padding:5px;
  font-family: 'Quicksand', sans-serif;
}

.Section-1 {
  height: 100%;
  width: 100vw;;
  display: flex;
  background-color: rgba(128, 128,128, 0.1);
  justify-content: space-between;
  /* position: absolute; */
}

.Section-2 {
  height:100%;
  width:50vw;
  display:flex;
  flex-direction:column;
  justify-content:center;
  background-color:white;
  /* background-color:white; */
  border-right-width: 3px;
  border-right-color: silver;
  border-right-style: solid;

}

.Section-3 {
  height:55%;
  width:100%;
  display:flex;
  justify-content: center;
  /* align-items: center; */
  background-color: rgba(128, 128,128, 0.1);
  font-family: 'Quicksand', sans-serif;

}
.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
}
.files{ position:relative}
.files:after {  pointer-events: none;
  position: absolute;
  top: 100px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: " or drag it here. ";
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

video{
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
  background-color: white;
  /* margin-left: 10px; */
  
}

.Section-4 {
  /* padding-top: 10px; */
  height:30%;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

.Upload-Box{
  /* display:flex; */
  /* justify-content: center; */
  /* padding-left: 200px; */
  align-items: center;
  height:90%;
  width:100%;
  background-color: rgba(128, 128,128, 0.1);
  padding-left: 40px;
}

.Section-5{
  height:100%;
  width:50vw;
  display:flex;
  /* flex-direction:column; */
  justify-content:center;

}

.Section-6{
  font-size: 40px;
  position: relative;
  top: 200px;
  font-family: 'Noto Serif TC', serif;
}

.videoBox p{
  /* margin-left: 30px; */
  margin-top: 20px;
  font-size: 25px;
}


.currentWord{
  margin-top: 5px;
  width: 42vw;
  height: 28vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
  background-color: white;
}
/* .Translation-button{
  height:30px;
  width: 100px;
  margin: 50px;
} */

.videoBox button{
  border-width: 5px;
  border-color: rgba(40,45,51);
  border-radius: 10px;
  background-color: rgb(40, 45, 51);
  color: white;
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal-display-block{
  display: block;
  background-color: rgba(255, 255,255, 0.1);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.Upload-Box label{
  margin-top: 10px;
  font-size: 25px;
}

.Upload-Box button{
  margin-bottom: 30px;
}

.modal-display-block div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal-display-none{
  display: none;
}

.beautifulButton{
  display: flex;
  justify-content: center;
  border-bottom-width: 2px;
  border-bottom-color: silver;
  border-bottom-style: solid;
}